@import '../../styles/_colors.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_maxins.scss';

$padding: 10px 20px;

.accordion-container {
  @include box-shadow();

  .item {
    border-bottom: 1px solid rgb (221,221,221);

    .header {
      display: grid;
      grid-template-columns: 1fr;
      auto-flow: column;
      align-items: center;
      padding: $padding;

      i{
        color: $blue;
        transition: all 0.3s;

        &.is-expanded {
          transform: rotate(-180deg);
        }
      }
    }

    .content {
      padding: $padding;
      display: none;

      &.is-expanded {
        display: block;
      }
    }
  }
}
