@import '../../styles/_colors.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_maxins.scss';

$padding: 10px 20px;

.accordion-container {
  @include box-shadow();
  border-radius: 3px;
  overflow: hidden;

  .item {
    border-bottom: 1px solid rgb(221, 221, 221);

    .header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: $padding;
      width: 100%;
      border: 0;
      background: transparent;
      text-align: left;
      cursor: pointer;

      i {
        color: $blue;
        transition: transform 0.25s ease-in-out;

        &.is-expanded {
          transform: rotate(-180deg);
        }
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    .content-wrapper {
      display: grid;
      grid-template-rows: 0fr;
      opacity: 0;
      transition: grid-template-rows 0.25s ease-in-out, opacity 0.25s ease-in-out;

      &.is-expanded {
        grid-template-rows: 1fr;
        opacity: 1;
      }
    }

    .content {
      overflow: hidden;
      padding: $padding;
    }
  }
}
